<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px">
  <div class="col-10">
    <h4 style="color: rgb(120 120 120); margin-bottom: 4px">
      {{job['title']}}
    </h4>

    <div><b>Location: </b>{{job['location']}}</div>

    <div>
      {%if 'salary' in job%}
      <b>Salary: </b>{{job['salary']}} {%endif%}
    </div>
  </div>
  <div class="col-2">
    <a href="mailto:smitsuvagiya111@gmail.com?subject=application%20for%20{{job['title']}}&body=My%20name%20%3Cyour%20name%20here%3E%0D%0AMy%20Resume%20Link%20%3Cyour%20resume%20link%20here%3E%0D%0AMy%20Linkedin%20Link%20%3Cyour%20Linkedin%20link%20here%3E" class="btn btn-outline-primary">Apply</a>
  </div>
</div>
